.clearfix {
    *zoom: 1; }
.clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
.clearfix:after {
    clear: both; }

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: white; }
.row {
    margin-left: -20px;
    *zoom: 1; }
.row:before, .row:after {
    display: table;
    content: ""; }
.row:after {
    clear: both; }

[class*="span"] {
    float: left;
    margin-left: 20px; }
.span6 {
    width: 460px; }

.span5 {
    width: 380px; }

.span4 {
    width: 300px; }

.span3 {
    width: 220px; }

.span2 {
    width: 140px; }

.span1 {
    width: 60px; }

ul, ol {
    padding: 0;
    margin: 0 0 9px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0; }

ul {
    list-style: disc; }

ol {
    list-style: decimal; }

li {
    line-height: 18px; }
ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none; }
body.dragging, body.dragging * {
    cursor: move !important; }

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000; }

ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px; }
ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px dotted #cccccc;
    color: rgba(66, 66, 66, 0.97);
    background: #eeeeee; }
ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none; }

ol {
    list-style-type: none; }
ol li.highlight {
    background: #333333;
    color: #999999;
}

ol.simple_with_animation {
    border: 1px solid #999999; }

.li-common-style{
    border-right: 1px solid red;float: left
}
.detail-id{ width: 50px; }
.detail-name{ width: 200px; padding-left: 2px}
.detail-score{ width: 50px; text-align: center}
.sample tr { cursor: pointer;border: 1px solid red;}
.sorting{cursor: pointer;padding: 2px; border: none}
.container_header{padding: 5px ;}
